# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist

# Misc
.DS_Store
*.pem

# Cloudflare Wrangler
.wrangler
.dev.vars

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode
.idea
*.swp
*.swo

# Temporary files
tmp
temp
